html{

    /* background-color: #fff; */
    background-color: rgb(24, 26, 27);
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;

}

/* html, body{
  max-width: 100%;
  overflow-x: hidden;
} */

html, body, p, h1, h2, h3, h4, h5{
  color: rgb(226, 226, 226);
}



.logo{
  /* width: 200px; */
  /* height: 200px; */
  /* min-height: 25%; */
  padding: 15px;
  /* border: 3px solid green; */

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
  height: auto;
  margin-bottom: 9px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #28052f;
  /* background-color: rgb(40, 5, 47); */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #c9c9c9;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  font-weight: bold;
}

.name{
    background-color: rgb(149, 6, 6);
    /* background-color: rgb(211, 16, 16); */
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    font-size: 25px;
    padding: 2px;
    font-weight: bold;
}

.red-linebreak{
  background-color: rgb(211, 6, 6);
  /* background-color: rgb(197, 16, 16); */
  width: 90%;
  height: 1.5px;
  margin: 15px auto 22px auto;
}

.tag-container
{
  padding: 0px 9px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.tag
{
  text-align: center;
  padding: 5px;
  margin: 2px 2px;
  border: solid 2px #1bd580;
  border-radius: 10px;
  font-size: 0.84em;
  font-weight: bold;
  transition: background-color .4s ease; Animation
}

.tag:hover{
  background-color: #1bd580;
  cursor: pointer;
}

.content-spacing{
  /*height: 135px;*/
  height: 20%;
  /*padding: 35%;*/
}

.project-container{
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin: 0px 13%;

}

.project-container img{

  width: 100%;
  height: auto;
  margin: 8px 0px;
}

.project-container iframe{

  /* width: 100%;
  height: auto; */
  margin: 8px 0px 13px 0px;
}



.grid-container{
    margin-left: 246px;
}

.grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); */
    grid-template-rows: 1fr;
    grid-gap: 4px;
    margin-top: -4px;
  }
  
  .item {
    background: red;
    display: flex;
    padding: 20%;

  }


  .media-zoom{
    transition: all .2s ease-in-out; 
  }

  .media-zoom:hover{
    transform: scale(1.02);
    cursor: pointer;
  }

  /* .icon-zoom{
    transition: all .2s ease-in-out; 
  }

  .icon-zoom:hover{
    transform: scale(1.6);
  } */

  .responsive{
    width: 100%;
    height: auto;
  }

  .iframeWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
  }

  .circle {
    height: 55px;
    width: 55px;
    background-color: #ddd;
    border-radius: 50%;
    /* display: inline-block; */
  }

.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.contact-icon{
  margin: 4.7px;
  width: 25px;
  height: 25px;
  transform: scale(1.3);
}

.contact-icon:hover{
  color: rgb(122, 122, 122);
  cursor: pointer;
}

/* .project-container iframe{
  width: 50%;
  height: 150%;
} */

.post{
  max-width: 400px;
  height: 255px;
  background-color: #493c4d;
  padding: 18px;
  /* box-shadow: 5px 10px #888888; */
}

.post h1{
  margin: 5px 0px 8px 0px;
  padding: 0px;
  font-size: 26px;
}

.post p{
  margin: 0px;
  padding: 0px;
}

/************ MEDIA QUERIES! ***********/
@media (max-width: 1080px) 
{  
  /* .sidenav {display: none;} */
.tag-container{  display: none;}
.red-linebreak{ display: none;}

  .name {display: none;}


  .grid-container{ 
      margin-top: 159px; 
    margin-left: auto;
  }

  .project-container{ margin: 0px 7%;}

  .sidenav {
    height: 147px; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    overflow-y: hidden; /* Disable horizontal scroll */
    padding: 1px 0px;
  }

  .logo{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 54px;
    height: auto;
    margin-bottom: 2px;
  }

  .sidenav a {
    color: #fff;
    margin: 0px 8px;
    
  }

  .sidenav a:hover {
    color: #bcc;
    font-weight: normal;
  }

  nav{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(248, 81, 81);
    margin-top: -4px;
  }

  .contact-container{
    margin-top: 8px;
  }

  .contact-icon{
    padding: 0px 7.5px;
  }

}

@media (max-width: 840px) 
{  
  .grid {  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  .project-container{   margin: 0px 1%; }
}

@media (max-width: 400px) 
{  
  .grid {  
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2px;
   }
}

/************ FADE IN ***********/
.fade-in {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}